<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="Documentos">
    
    <select id="obtenerDocumentosPorAlumno" parameterType="int" resultType="pojos.Documentos">
        SELECT * FROM Documentos WHERE idAlumno = #{idAlumno}
    </select>
    
    <insert id="subirDocumentos" parameterType="pojos.Documentos" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dbo.Documentos(idAlumno, identificacionOficial, actaNacimiento, comprobanteDomicilio, fotoInfatil, certificadoBachillerato)
        VALUES(#{idAlumno}, #{identificacionOficial}, #{actaNacimiento}, #{comprobanteDomicilio}, #{fotoInfatil}, #{certificadoBachillerato})
    </insert>
    
</mapper>